/* Page products */
/* --View Image */
.card_details .close {
  display: none;
}
.active{
  background-color: rgba(65, 63, 63, 0.651);
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  color: white;
  transform: translate(5px,-2px);
  -webkit-transform: translate(5px,-2px);
  -moz-transform: translate(5px,-2px);
  -ms-transform: translate(5px,-2px);
  -o-transform: translate(5px,-2px);
}
